RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

ErrorDocument 400 https://galastique.dev/error/400.html
ErrorDocument 401 https://galastique.dev/error/401.html
ErrorDocument 403 https://galastique.dev/error/403.html
ErrorDocument 404 https://galastique.dev/error/404.html
ErrorDocument 500 https://galastique.dev/error/500.html