/*Global*/
* {
    font-family: Gadugi;
    scroll-behavior: smooth;
    --backgroundColor: rgb(30, 30, 80);
    --textColor: rgb(220, 220, 220);
}

html {
    overflow: overlay;
    height: 100%;
}

body {
    text-align: center;
    color: var(--textColor);
    background-color: var(--backgroundColor);
}

nav {
    text-align: right;
    margin-right: 2em;
    margin-top: 1em;
}

footer {
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(160, 160, 160);
}

body div p {
    font-size: 0.8em;
}

div ul li p {
    line-height: 100%;
}

.content {
    margin: auto;
    width: 50%;
    line-height: 80%;
}


ul {
    display: inline-block;
    text-align: left;
}

body ul li p, li {
    font-size: 1.1em;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}