* {
    font-weight: bold;
}

body {
    color: var(--textColor);
    background-color: var(--backgroundColor);
    text-shadow : 0.1em 0.1em 0.1em black;
}

button, input, select {
    border-radius: 0.8em 0.8em 0.8em 0.8em;
}

a {
    font-size: 1.9em;
    color: var(--textColor);
    text-decoration: none;
    margin-left: 2.5em;
    animation: fadeIn 4s;
}

#noUnderline {
    text-decoration: none;
    width: 3.5em;
}

button, select, input {
    font-size: 0.8em;
}

button:hover, select:hover, img:hover {
    cursor: pointer;
}

.content {
    margin: 0 auto;
    margin-top: 80px;
    vertical-align: middle;
    text-align: center;
    padding: 1.25em;
    border-radius: 1.25em 1.25em 1.25em 1.25em;
}

/*Custom text selection color*/
::selection {
    background: rgba(128, 87, 148, 0.6);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}