html * {
    font-family: Gadugi;
    font-weight: bold;
}

body {
    color: #E5B8F4;
    background-color: #2D033B;
    text-shadow : 0.1em 0.1em 0.1em black;
}

button, input, select {
    border-radius: 0.8em 0.8em 0.8em 0.8em;
}

footer {
    position: fixed;
    opacity: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1em;
    text-align: center;
    color: #E5B8F4;
    animation: fadeIn 8s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

a {
    font-size: 1.9em;
    color: #E5B8F4;
    text-decoration: none;
    margin-left: 2.5em;
    animation: fadeIn 4s;
}

button, select, input {
    font-size: 0.8em;
}

button:hover, select:hover, img:hover {
    cursor: pointer;
}

.content {
    margin: 0 auto;
    margin-top: 80px;
    vertical-align: middle;
    text-align: center;
    padding: 1.25em;
    border-radius: 1.25em 1.25em 1.25em 1.25em;
}

/*Custom text selection color*/
::selection {
    background: rgba(128, 87, 148, 0.6);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}