* {
    text-shadow : 0 0 0 !important;
}

p {
    line-height: 0.75;
}

button, select, input {
    font-size: 1em;
}

.content {
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    padding: 1.25em;
}