:root {
    --newBackgroundColor: rgb(255, 255, 255);
    --newNewBackgroundColor: rgb(255, 255, 255);
    --selectColor1: rgb(255, 255, 255);
    --selectColor2: rgb(255, 255, 255);
    --selectColor3: rgb(255, 255, 255);
    --selectColor4: rgb(255, 255, 255);
    --selectColor5: rgb(255, 255, 255);
    --selectColor6: rgb(255, 255, 255);
    --selectColor7: rgb(255, 255, 255);
    --selectColor8: rgb(255, 255, 255);
}

body {
    background-color: var(--newBackgroundColor);
}

button, select, input {
    font-size: 1em;
}

.content {
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    padding: 1.25em;
}

p {
    line-height: 0.75;
}

.noShadow {
    text-shadow : 0 0 0;
}

h1::selection {
    background: var(--selectColor1);
}

#rgb::selection {
    background: var(--selectColor2);
}

#hex::selection {
    background: var(--selectColor3);
}

#cmyk::selection {
    background: var(--selectColor4);
}

#hsv::selection {
    background: var(--selectColor5);
}

#hsl::selection {
    background: var(--selectColor6);
}

button::selection {
    background: var(--selectColor7);
}

a::selection {
    background: var(--selectColor8);
}

.fade {
    animation: fade 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        background-color: var(--newBackgroundColor);
    }

    100% {
        background-color: var(--newNewBackgroundColor);
    }
}