:root {
    --topStart: 0;
    --leftStart: 0;
    --topEnd: 0;
    --leftEnd: 0;
}

body {
    background-color: black;
    text-align: center;
}

#stats {
    line-height: 80%;
}

#toggleVisibility {
    font-size: 0.8em;
    color: rgb(80, 80, 80);
}

img {
    position: absolute;
    width: 18%;
    filter: invert();
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

#noUnderline {
    animation: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide {
    animation: slide;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% {
        top: var(--topStart);
        left: var(--leftStart);
    }

    100% {
        top: var(--topEnd);
        left: var(--leftEnd);
    }
}