h1 {
    margin-top: -4%;
}

img {
    width: 100%;
    filter: drop-shadow(0.12em 0.12em 0.1em rgb(120, 120, 120));
}

.links {
    display: flex;
    flex-direction: column;
}

#playAgain {
    position: fixed;
    font-size: 2em;
    float: left;
    margin: 1.2em 0;
}

#meaning {
    position: fixed;
    font-size: 1.2em;
    float: left;
    margin: 0.4em 0; 
}

#meaning:hover, #playAgain:hover {
    text-decoration: underline;
}

.game {
    width: 75%;
    left: 10%;
    position: absolute;
}

.left {
    float: left;
    position: relative;
    width: 24%;
}

.right {
    float: right;
    position: relative;
    width: 74%;
}

#guesses {
    position: static;
    height: 70%;
    flex-wrap: wrap;
}

.word {
    position: static;
    height: 30%;
}

#letters, #guesses {
    display: flex;
    margin: 0 auto;
}

#guesses div {
    width: 3em;
    height: 3.4em;
    margin: 0.4em;
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 0.4em solid rgba(255, 255, 255, 0.4);
    border-radius: 0.2em;
    cursor: pointer;
}

#guesses div p {
    margin: 0.3em 0;
    font-size: 2em;
}

#letters div {
    width: 3.6em;
    height: 4.2em;
    margin: 0.5em;
    border-bottom: 0.5em solid rgba(255, 255, 255, 0.4);
    border-radius: 0.25em;
}

#letters div p {
    margin: 0.4em 0;
    font-size: 2.4em;
}

#right {
    color: limegreen !important;
    border-color: limegreen !important;
}

#wrong {
    color: tomato !important;
    border-color: tomato !important;
}

#found {
    border-color: rgb(232, 188, 248) !important;
}