h1 {
    margin-top: -4%;
}

img {
    width: 110%;
}

#meaning {
    font-size: 1em;
    float: left;
    margin: 1em 0;
}

#meaning:hover {
    text-decoration: underline;
}

.game {
    width: 75%;
    left: 10%;
    position: absolute;
}

.left {
    float: left;
    position: relative;
    width: 24%;
}

.right {
    float: right;
    position: relative;
    width: 72%;
}

#guesses {
    position: static;
    height: 70%;
    flex-wrap: wrap;
}

.word {
    position: static;
    height: 30%;
}

#letters, #guesses {
    display: flex;
    margin: 0 auto;
}

#letters div {
    width: 3.6em;
    height: 3.6em;
    margin: 0.4em;
    border-bottom: 0.4em solid rgba(255, 255, 255, 0.4);
    border-radius: 0.2em;
}

#guesses div {
    width: 3em;
    margin: 0.3em;
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 0.3em solid rgba(255, 255, 255, 0.4);
    border-radius: 0.15em;
}

#letters div p {
    margin: 0.3em 0;
    font-size: 1.8em;
}

#guesses div p {
    margin: 0.3em 0;
    font-size: 1.6em;
}

#right {
    color: limegreen !important;
    border-color: limegreen !important;
}

#wrong {
    color: tomato !important;
    border-color: tomato !important;
}

#found {
    border-color: rgb(232, 188, 248) !important;
}