h1 {
    margin-top: -4%;
}

.game {
    width: 75%;
    left: 10%;
    position: absolute;
}

.wrongAnswer {
    animation: flashWrong 0.75s;
    animation-fill-mode: forwards;
}

/*Left portion of game*/
.left {
    float: left;
    position: relative;
    width: 24%;
}

.hangman {
    height: 18em;
}

img {
    position: static;
    height: 100%;
    filter: drop-shadow(0.12em 0.12em 0.1em rgb(120, 120, 120));
}

.length p {
    margin: 0.5em;
}

select {
    border-radius: 0.5em;
}

/*Right portion of game*/
.right {
    float: right;
    position: relative;
    width: 74%;
}

#guesses {
    position: static;
    height: 70%;
    flex-wrap: wrap;
}

#guesses div {
    width: 3em;
    height: 3.4em;
    margin: 0.4em;
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 0.4em solid rgba(255, 255, 255, 0.4);
    border-radius: 0.2em;
    cursor: pointer;
}

#guesses div p {
    margin: 0.3em 0;
    font-size: 2em;
}

.word {
    position: static;
    height: 30%;
}

#guesses, #letters {
    display: flex;
    margin: 0 auto;
}

#letters div {
    width: 3.6em;
    height: 4.2em;
    margin: 0.5em;
    border-bottom: 0.5em solid rgba(255, 255, 255, 0.4);
    border-radius: 0.25em;
}

#letters div p {
    margin: 0.4em 0;
    font-size: 2.4em;
}

.links {
    display: flex;
    flex-direction: column;
}

#meaning {
    position: fixed;
    font-size: 1.2em;
    float: left;
    margin: 0.4em 0; 
}

#playAgain {
    position: fixed;
    font-size: 2em;
    float: left;
    margin: 1.2em 0;
}

#meaning:hover, #playAgain:hover {
    text-decoration: underline;
}

#guesses #right {
    animation: colorFadeRight 0.5s;
    animation-fill-mode: forwards;
}

#guesses #wrong {
    animation: colorFadeWrong 0.5s;
    animation-fill-mode: forwards;
}

#letters #right {
    color: limegreen;
    border-color: limegreen;
}

#letters #wrong {
    color: tomato;
    border-color: tomato;
}

#found {
    border-color: rgb(232, 188, 248) !important;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

@keyframes flashWrong {
    0% {
        box-shadow: 0em 0em 2em 1em red;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes fadeIn {
    0% {
        color: rgba(255, 255, 255, 0.4);
    }

    100% {
        color: rgba(220, 220, 220, 1);
    }
}

@keyframes colorFadeRight {
    0% {
        color: rgba(255, 255, 255, 0.4);
    }

    100% {
        color: limegreen;
        border-color: limegreen;
    }
}

@keyframes colorFadeWrong {
    0% {
        color: rgba(255, 255, 255, 0.4);
    }

    100% {
        color: tomato;
        border-color: tomato;
    }
}