h1, body div p, .content {
    margin-top: 0;
    margin-bottom: 0;
}

body div p {
    margin-bottom: 0.6em;
}

.content {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    padding-top: 1rem;
    width: 45em;
    height: 39em;
}

#game {
    display: flex;
    flex-direction: column;
    background-color: rgb(130, 130, 130);
    width: 30em;
    margin: auto;
    border: 0.3em solid darkgoldenrod;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
}

div div div div {
    font-size: 1.3em;
    width: 1.75em;
    height: 1.75rem;
    border-top: 0.1em solid rgba(255, 255, 255, 0.2);
    border-left: 0.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
    border-right: 0.1em solid rgba(0, 0, 0, 0.2);
}

.stats {
    margin: 0 auto;
    text-align: center;
    width: 30em;
}

#minesLeft {
    float: left;
}

#elapsedTime {
    float: right;
}

.mine, #flag {
    background-size: contain;
    background-repeat: no-repeat;
}

.one {
    color: blue;
}

.two {
    color: rgb(20, 140, 20);
}

.three {
    color: rgb(180, 20, 20);
}

.four {
    color: darkblue;
}

.five {
    color: darkred;
}

.six {
    color: darkcyan;
}

.seven {
    color: black;
}

.height {
    color: gray;
}

div div div {
    user-select: none;
}

.flashScreen {
    animation: flash 1s;
    animation-fill-mode: forwards;
}

@keyframes flash {
    0% {
        background-color: red;
    }

    100% {
        background-color: #2D033B;
    }
}