h1 {
    font-size: 3em;
}

button, select, input {
    font-size: 2em;
}

body {
    background: rgb(80, 80, 240);
}

.content {
    width: 37.5em;
    margin: 0 auto;
    margin-top: 3.75em;
    text-align: center;
}

.results {
    line-height: 0.6;
}