h1 {
    margin-top: 0;
    margin-bottom: 0;
}

body div p {
    margin-top: 0;
    margin-bottom: 0.6em;
}

.content {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    padding-top: 1rem;
    width: 40em;
    height: 41em;
}

.stats {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

#bestScore {
    float: right;
}

#currentScore {
    float: left;
}

#game {
    display: flex;
    flex-direction: column;
    background-color: rgb(140, 140, 160);
    width: 80%;
    margin: auto;
    border: 0.375em outset darkgoldenrod;
    box-shadow: 0.8em 1em 1em rgba(0, 0, 0, 0.4);
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
}

div.row div {
    width: 2em;
    height: 2em;
}

.difficulty {
    padding-top: 0.75rem;
}

.darker {
    background-color: rgb(120, 120, 140);
}

.head {
    background-color: darkgreen;
    background-size: contain;
}

.body {
    background-color: green;
}

.fruit {
    background-color: darkred;
}