h1 {
    margin-top: 0;
    margin-bottom: 0;
}

body div p {
    margin-top: 0;
    margin-bottom: 0.6em;
}

.content {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    padding-top: 1rem;
    width: 45em;
    height: 38.1em;
}

.stats {
    margin: 0 auto;
    text-align: center;
    width: 30em;
}

#bestScore {
    float: right;
}

#currentScore {
    float: left;
}

#game {
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 120, 120);
    width: 30em;
    height: 30rem;
    margin: auto;
    border: 0.375em solid darkgoldenrod;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

div div div div {
    width: 1.875em;
    height: 1.875rem;
}

.difficulty {
    padding-top: 0.75rem;
}

.darker {
    background-color: rgb(110, 110, 110);
}

.head {
    background-color: darkgreen;
    background-size: contain;
}

.body {
    background-color: green;
}

.fruit {
    background-color: darkred;
}