.content {
    text-align: center;
    width: 80%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.mocker {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input, .output, .mock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    float: left;
    width: 38%;
}

.output {
    float: right;
    width: 38%;
}

.mock {
    margin: auto;
    width: 15%;
}

label {
    font-size: 1.4em;
}

textarea {
    margin-top: 1rem;
    width: 100%;
    height: 15rem;
    resize: none;
    font-size: 1em;
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    padding: 0.4em;
    box-shadow: 0.8em 1em 1em rgba(0, 0, 0, 0.4);
}

button {
    margin-top: 20%;
    width: 100%;
    height: 4rem;
    font-size: 1.1em;
    box-shadow: 0.4em 0.5em 1em rgba(0, 0, 0, 0.4);
}