/*Global*/
button, select, input {
    font-size: calc(16px * var(--scale));
}

button:hover, select:hover, img:hover {
    cursor: pointer;
}

/*Classes*/
.content {
    width: calc(592px * var(--scale));
    margin: 0 auto;
    margin-top: calc(80px * var(--scale));
    vertical-align: middle;
    text-align: center;
    padding: calc(20px * var(--scale));
    border-radius: calc(20px * var(--scale)) calc(20px * var(--scale)) calc(20px * var(--scale)) calc(20px * var(--scale));
}