/*Global*/
html * {
    font-family: Gadugi;
    scroll-behavior: smooth;
}

html {
    overflow: overlay;
}

body {
    color: rgb(200, 200, 200);
    background-color: rgb(60, 60, 64);
    margin-top: 2.5em;
    margin-left: 10em;
    margin-right: 10em;
}

footer {
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(160, 160, 160);
    animation: fadeIn 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

body div.content p {
    font-size: 1.2em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 2.4em;
    margin-bottom: 1em;
}

hr {
    border-width: 0.15em;
    border-radius: 0.1em 0.1em 0.1em 0.1em;
}

h1 {
    font-size: 2.4em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(220, 220, 220);
}

/*Links in nav bar*/
nav a {
    color: rgb(200, 200, 200);
    margin: 1em;
    margin-bottom: 0;
}

/*Footer image*/
footer img {
    cursor: pointer;
    height: 2.5em;
    padding-top: 0.3em;
    padding-right: 0.25em;
    float: left;
}

/*Section with image and link in footer*/
footer div {
    position: absolute;
    text-align: left;
    padding-left: 1.2em;
    padding-top: 0.05em;
    line-height: 80%;
    vertical-align: top;
}

/*Link next to image in footer*/
footer div a {
    color: rgb(160, 160, 160);
    font-size: 0.75em;
    white-space: nowrap;
    position: relative;
    top: 10px;
}

.selected {
    color: rgb(220, 220, 220);
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-decoration-style: double;
}

/*Custom scroll bar*/
/*Width*/
::-webkit-scrollbar {
    width: 0.8em;
}

/*Track*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.1em grey;
    border-radius: 0.5em;
}

/*Scrollbar*/
::-webkit-scrollbar-thumb {
    background: rgb(128, 87, 148);
    border-radius: 0.5em;
}

/*Scrollbar on hover*/
::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 82, 130);
}