h1 {
    font-size: 38px;
}

p {
    line-height: 0.8;
}

button, select, input {
    font-size: 16px;
}

.content {
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    padding: 20px;
}