h2 {
    text-align: center;
}

h3 {
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

/*Changelog timestamps*/
body div div p {
    margin-bottom: 0;
}

.change-light, .change-dark {
    position: relative;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1.25em;
    width: 37.5em;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
}

.change-light {
    background-color: rgba(255, 255, 255, 0.05);
}

.change-dark {
    background-color: rgba(0, 0, 0, 0.4);
}

.change-number {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 0.8em;
}