h1, body div p, .content {
    margin-top: 0;
    margin-bottom: 0;
}

body div p {
    margin-bottom: 0.6em;
}

.content {
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    background-color: rgb(130, 130, 130);
    width: 30em;
    margin: auto;
    border: 0.3em solid darkgoldenrod;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

div div div div {
    border: 0.05em solid rgb(60, 60, 60);
    font-size: 1.3em;
    width: 1.75em;
    height: 1.75rem;
}

.mine, #flag {
    background-size: contain;
}

.one {
    color: blue;
}

.two {
    color: rgb(20, 140, 20);
}

.three {
    color: rgb(180, 20, 20);
}

.four {
    color: darkblue;
}

.five {
    color: darkred;
}

.six {
    color: darkcyan;
}

.seven {
    color: black;
}

.height {
    color: gray;
}