select {
    float: right;
    width: 64px;
    text-align: center;
}

input {
    background: #FFFFFF;
    color: #000000;
}

h3 {
    font-size: 30px;
    margin-left: 40px;
    cursor: pointer;
    animation: fadeIn 4s;
}

img {
    width: 22px;
    height: 22px;
    padding-top: 10px;
    position: absolute;
    bottom: 0.2px;
}

input {
    height: 14px;
}

.content {
    background-color: rgb(160, 80, 220);
    width: 540px;
    margin: 0 auto;
    margin-top: 100px;
    vertical-align: middle;
    text-align: center;
    border: 3px solid black;
    padding-bottom: 24px;
    border-radius: 20px 20px 20px 20px;
    animation: fadeIn 1.5s;
}

.options {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 110px;
    margin-right: 110px;
}

.result {
    position: relative;
    margin-top: 20px;
}

.error {
    margin: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    color: rgb(220, 40, 40);
    cursor: default;
}

.success {
    margin: auto;
    vertical-align: middle;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: default;
}

.fadeOut {
    animation: fadeOut 6s;
    animation-fill-mode: forwards;
}

#length {
    float: right;
    width: 23px;
    height: 16px;
    text-align: center;
}

#copy {
    padding-left: 2px;
}

#view {
    padding-left: 26px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}