h2 {
    text-align: center;
}

/*Project descriptions*/
div div p {
    max-width: 80%;
    text-align: justify;
}

a {
    margin-right: 2em;
}

.project-light, .project-dark {
    margin: 1.8em auto;
    padding: 1.25em;
    width: 50em;
    border-radius: 0.65em 0.65em 0.65em 0.65em;
    position: relative;
    text-shadow : 0.05em 0.05em 0.8em black;
    box-shadow: 0.75em 0.8em 1em rgba(0, 0, 0, 0.4);
}

.project-light h2, .project-dark h2 {
    text-shadow : 0.05em 0.05em 0.1em black;
}

.project-light {
    background-color: rgba(255, 255, 255, 0.10);
}

.project-dark {
    background-color: rgba(0, 0, 0, 0.25);
}

/*Links to projects*/
div div a:link, div div a:visited, div div a:active {
    color: rgb(200, 200, 200);
    text-decoration: none;
}

div div a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

/*Project images*/
div div img {
    width: 9.4em;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 40.5%;
}