h1 {
    margin-top: 0;
    margin-bottom: 0;
}

body div p {
    margin-top: 0;
    margin-bottom: 0.6em;
}

.content {
    margin-top: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 120, 120);
    width: 30em;
    height: 30rem;
    margin: auto;
    border: 0.375em solid darkgoldenrod;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

div div div div {
    width: 1.875em;
    height: 1.875rem;
}

.darker {
    background-color: rgb(110, 110, 110);
}

.head {
    background-color: darkgreen;
}

.body {
    background-color: green;
}

.fruit {
    background-color: darkred;
}